
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Yonetim/Views/Shared/_Yonetim.cshtml";
}
@model HotelReservationNew.Areas.Yonetim.Models.ManagementView.ManageView


<div class="container-fluid">
    <!-- Begin page heading -->
    <h1 class="page-heading">Rooms <small>Displaying Rooms</small></h1>
    <!-- End page heading -->
    <!-- Begin breadcrumb -->
    <ol class="breadcrumb default square rsaquo sm">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="#fakelink">Rooms</a></li>
        <li class="active">Listing</li>
    </ol>
    <div class="the-box no-border">
        <h4 class="small-title">Reservations</h4>

        <div class="btn-toolbar top-table" role="toolbar">
            <div class="btn-group">
                <form role="form">
                    <select class="form-control">
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>50</option>
                    </select>
                </form>
            </div>
            <div class="btn-group">
                <a href="/Yonetim/yRooms/AddRoom" class="btn btn-success"><i class="fa fa-plus"></i> New Room</a> 
            </div>
       
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#fakelink">Action</a></li>
                    <li><a href="#fakelink">Another action</a></li>
                    <li><a href="#fakelink">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#fakelink">Separated link</a></li>
                </ul>
            </div>

            <div class="btn-group pull-right">
                <form role="form">
                    <input type="text" class="form-control" placeholder="Search member...">
                </form>

            </div><!-- /.btn-group .pull-right -->
        </div>
        <div class="table-responsive">
            <table class="table table-th-block table-hover" border="1">
                <thead>
                    <tr>
                        <th style="width: 30px;">ID</th>
                        <th>Cover Image</th>
                     
                        <th>Name</th>
                        <th>Price</th>
                        <th>Availability</th>  
                        <th>Bed</th>
                        <th>Add Date</th>
                        <th>Gallery</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (HotelReservationNew.Models.Data.Room item in Model.Rooms)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td><img src="@item.CoverImage" class="avatar img-circle" alt="avatar"></td>
                          
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>
                                @if (item.Availability == false)
                                {
                                  
                                    <span class="label label-danger">Full</span>
                                }
                                else
                                {
                                    <span class="label label-success">Empty</span>
                                }
                            </td>
                          
                            <td>@item.Bed</td>
                            <td>@item.AddDate</td>
                              <td><a href="/Yonetim/yRooms/Gallery/@item.ID">See all images</a></td>
                            <td>
                                @if (item.IsDelete == false)
                                {
                                    <span class="label label-success">Active</span>
                                }
                                else
                                {
                                    <span class="label label-danger">Deleted</span>
                                }
                            </td>
                            <td>
                                <a href="/Yonetim/yRooms/EditRoom/@item.ID"><i class="fa fa-edit"></i></a>
                                <a href="/Yonetim/yRooms/DeleteRoom/@item.ID"><i class="fa fa-trash"></i></a>
                                <a href="/Yonetim/yRooms/ActivateRoom/@item.ID"><i class="fa fa-check"></i></a>
                            </td>
                        </tr>


                    }


                </tbody>
            </table>
        </div>

    </div>








</div>
